.underline {
  width: 5rem;
  height: 0.2rem;
  margin-bottom: 1.25rem;
  background: rgb(234 179 8);
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3rem;
}
.service:hover {
  background-color: rgb(234 179 8);
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}
.service:hover p {
  color: #fff;
}
.service:hover .underline {
  background: #fff;
}
